<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aegis - Codes</title>
    <link rel="stylesheet" href="/static/codes.css">
</head>
<body>
    <div class="authy-codes-container">
        <div class="authy-codes-header">
            <img src="{{ url_for('static', filename='images/authyyy.png') }}" style="height: 100px;">
        </div>
        <div class="authy-code">
            <div class="authy-code-title">Aegis.com</div>
            <div class="authy-code-details">
                <p>Username: Harry Campbell</p>
                <p>Password: CLICK TO SHOW</p>
                <p>Aegis Code: 373620</p>
            </div>
        </div>
</body>
</html>